<body>
    <h1>Contact Us</h1>
    <div class="contactus">
        <div class="card">
            <img src="../../../assets/images/contactus/somi.jpg" alt="Oh No!">
            <p> Name : <span>Saumitra Joshi</span></p>
            <p>Date Of Birth: <span>17 August 2000</span></p>
            <p>Email : <span>saumitra1joshi@gmail.com</span></p>
            <p>Phone Number : <span>7042334712</span></p>
            <p>City : <span>Bangalore</span></p>
            <div class="socials">
                <i class="fab fa-linkedin" style="font-size: 36px; color: blue; margin-top: 10px;"></i>
                <i class="fab fa-github" style="font-size:36px; color: white"></i>
                <i class="fab fa-facebook" style="font-size:36px; color: rgb(0, 179, 255)"></i>
                <i class="fab fa-instagram" style="font-size:36px; color: rgb(255, 0, 204)"></i>
            </div>

        </div>

        <div class="card">
            <img src="../../../assets/images/contactus/umang.jpg" alt="Oh No!">
            <p>Name: <span>Umang Singhal</span></p>
            <p>Date Of Birth: <span>02 February 2001</span></p>
            <p>Email : <span>umanglsinghal.com</span></p>
            <p>Phone Number : <span>9724764223</span></p>
            <p>City : <span>Bangalore</span></p>
            <div class="socials">
                <i class="fab fa-linkedin" style="font-size: 36px; color: blue; margin-top: 10px;"></i>
                <i class="fab fa-github" style="font-size:36px; color: white"></i>
                <i class="fab fa-facebook" style="font-size:36px; color: rgb(0, 179, 255)"></i>
                <i class="fab fa-instagram" style="font-size:36px; color: rgb(255, 0, 204)"></i>
            </div>
        </div>

        <div class="card">
            <img src="../../../assets/images/contactus/akshay.jpg" alt="Oh No!">
            <p>Name: <span>Akshay Anil</span></p>
            <p>Date Of Birth: <span>02 August 2000</span></p>
            <p>Email : <span>Akshay.Anil@brillio.com</span></p>
            <p>Phone Number : <span>9113760581</span></p>
            <p>City : <span>Bangalore</span></p>
            <div class="socials">
                <i class="fab fa-linkedin" style="font-size: 36px; color: blue; margin-top: 10px;"></i>
                <i class="fab fa-github" style="font-size:36px; color: white"></i>
                <i class="fab fa-facebook" style="font-size:36px; color: rgb(0, 179, 255)"></i>
                <i class="fab fa-instagram" style="font-size:36px; color: rgb(255, 0, 204)"></i>
            </div>
        </div>

    </div>


</body>