<body>
    <!-- <img src="https://auspost.com.au/content/dam/corp/travel-essentials/destination-guides/italy/photo-antipasto-platter-italian-food.jpg">
    <img src="https://upload.wikimedia.org/wikipedia/commons/6/6d/Good_Food_Display_-_NCI_Visuals_Online.jpg"> -->
    <div class="form">
        <h2>Sign Up</h2>
        <form (ngSubmit)="formSubmit()">
            <div class="input">
                <div class="inputbox">
                    <label>Email</label>
                    <input  [(ngModel)]="user.email"
                        name="email" required
                        type="email"  placeholder="Enter here" />
                </div>
                <div class="inputbox">
                    <label>Username</label>
                    <input [(ngModel)]="user.username"
                        name="username" required
                        placeholder="Enter here" />
                </div>
                <div class="inputbox">
                    <label>Password</label>
                    <input  [(ngModel)]="user.password"
                        name="password" required
                        type="password" placeholder="Enter here" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" />
                </div>
                <div class="inputbox">
                    <label>First Name</label>
                    <input  [(ngModel)]="user.firstName"
                        name="firstName" required
                        placeholder="Enter here" />
                </div>
                <div class="inputbox">
                    <label>Last Name</label>
                    <input  [(ngModel)]="user.lastName"
                        name="lastName" required
                        placeholder="Enter here" />
                </div>
                <div class="inputbox">
                    <label>Phone Number</label>
                    <input  [(ngModel)]="user.phoneNo"
                        name="phoneNo" required
                        type="number" placeholder="Enter here" />
                </div>
                <div class="inputbox">
                    <label>Date Of Birth</label>
                    <input  [(ngModel)]="user.dOB"
                        name="dOB" required
                        matInput type="date" placeholder="Enter here" />
                </div>
                <div class="inputbox">
                    <label>Address</label>
                    <input  [(ngModel)]="user.address"
                        name="address" required
                        placeholder="Enter here" />
                </div>
                <div class="inputbox">
                    <label>City</label>
                    <input  [(ngModel)]="user.city"
                        name="city" required
                        placeholder="Enter here" />
                </div>
                <div class="inputbox">
                    <label>State</label>
                    <input  [(ngModel)]="user.state"
                        name="state" required
                        placeholder="Enter here" />
                </div>
                <div class="inputbox">
                    <label>Country</label>
                    <input  [(ngModel)]="user.country"
                        name="country" required
                        matInput placeholder="Enter here" />
                    <input type="submit" name="" value="Sign Up">
                </div>
                
            </div>
            <p class="forget">Already have an account?  <a href="login">Click Here</a></p>
        </form>
        
    </div>
</body>