<body>
    <h2>Payment Portal</h2>
    <div class="images">
        <img class="mastercard" src="../../../../assets/mastercardlogo.png" alt="mastercard logo">
        <img class="visa" src="../../../../assets/visalogo.png" alt="visa logo">
        <img class="rupay" src="../../../../assets/rupaylogo.png" alt="rupay logo">
    </div>

    <div class="card">
        <form>
            <p>Order Id:</p>
            <p> </p>
            <label for="carNo">Card No:</label><input type="number" />
            <label for="carNo">CVV:</label><input type="number" />
            <button type="button" class="btn btn-success">Success</button>
        </form>

    </div>
</body>