<mat-toolbar color="primary">
    <button (click)="OnDeliveryClick()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
     <mat-icon>delivery_dining</mat-icon>
   </button>
   <span>Food Express</span>
   <span class="example-spacer"></span>
   <button 
    *ngIf="!isLoggedIn"
   (click)="OnLoginClick()" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
     <mat-icon>login</mat-icon>
   </button>
   <button *ngIf="!isLoggedIn"
   (click)="OnRegisterClick()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>app_registration</mat-icon>
  </button>

  
  <a
   (click)="logout()"
    *ngIf="isLoggedIn"
    mat-icon-button
    class="example-icon favorite-icon mr20 ml20"
    aria-label="Example icon-button with heart icon"
  >
    Logout
  </a>
  <button
  (click)="OnProfile()"
  *ngIf="isLoggedIn && user"
  class="example-icon favorite-icon ml20"
  mat-button
  aria-label="Example icon-button with heart icon"
>
  {{ user.username }}

</button>


<app-search *ngIf="isLoggedIn && user"></app-search>

<!-- <form class="form-header" onsubmit="return false;" method="GET" *ngIf="isLoggedIn && user">
  <input class="au-input au-input-xl" type="text" name="search" placeholder="Search for data ..." />
  <button class="au-btn-submit" type="submit">
    Search
  </button>
</form>-->
<app-cardstatus  *ngIf="isLoggedIn && user"></app-cardstatus>
<!-- <div class="cart-area d-n" *ngIf="isLoggedIn && user">
  <a href="#">
    <div class="total">19.22 <span> 2</span> </div> <i class="fa fa-shopping-cart" aria-hidden="true"></i>
  </a>
</div> -->

 </mat-toolbar>