 <nav class="navbar navbar-expand-lg nav-options">
  <a class="navbar-brand brand" href="userdashboard">Trofi Paradosi</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link nav-options" routerLink="/aboutus">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-options" routerLink="/contactus">Contact Us</a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <a
      *ngIf="isLoggedIn && user"
      class="example-icon favorite-icon ml20"
      mat-button
      aria-label="Example icon-button with heart icon"
      href="profile">
      {{ user.username }}
    </a>
    <a
      (click)="logout()"
      *ngIf="isLoggedIn"
      mat-icon-button
      class="example-icon favorite-icon mr20 ml20"
      aria-label="Example icon-button with heart icon">
      Logout
    </a>
  </div>
</nav>