<nav class="navbar navbar-expand-lg nav-options fixed-top">
  <!-- <a href="https://www.fontspace.com/category/tattoo"><img src="https://see.fontimg.com/api/renderfont4/X3R0G/eyJyIjoiZnMiLCJoIjoxMjgsInciOjE1MDAsImZzIjo4NSwiZmdjIjoiIzAwMDAwMCIsImJnYyI6IiNGRkZGRkYiLCJ0IjoxfQ/VHJvZmkgUGFyYWRvc2k/bloodscriptitalicpersonalus-n.png" alt="Tattoo fonts"></a> -->
  <!-- <a class="navbar-brand brand" href="userdashboard">Trofi Paradosi</a> -->
  <a href="navbar-brand brand" href="userdashboard"><img class="trofilogo" src="../../../assets/logo3.png" alt="logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link nav-options" routerLink="/aboutus">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-options" routerLink="/contactus">Contact Us</a>
      </li>
      <li class="nav-item">
        <a
          *ngIf="isLoggedIn && user"
          class="example-icon favorite-icon ml20 d-flex right"
          mat-button
          aria-label="Example icon-button with heart icon"
          routerLink="/orderhistory">My Orders
        </a>
      </li>
    </ul>

  </div>

  <app-search *ngIf="isLoggedIn && user" ></app-search>
  
  <app-cardstatus  *ngIf="isLoggedIn && user" ></app-cardstatus>

  <a
    *ngIf="isLoggedIn && user"
    class="example-icon favorite-icon ml20 d-flex right"
    mat-button
    aria-label="Example icon-button with heart icon"
    href="profile">{{user.username}}</a>
  <a
    (click)="logout()"
    *ngIf="isLoggedIn"
    mat-icon-button
    class="example-icon favorite-icon mr20 ml20 right"
    aria-label="Example icon-button with heart icon">
    Logout
  </a>

</nav>