.main-content{
    margin-top: 50px;
    color: white;
    box-shadow: -5px -5px 10px rgb(255, 0, 242),
                5px 5px 15px rgb(251, 0, 255);
    border-radius: 20%;
    text-align: center;
    margin-left:30%;
    margin-right:30%;
    padding: 20px;
}

body{
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    
    background-color: black;
}

h1{
    margin-top: 50px;
    font-weight: 700;
    font-size: xx-large;
    color: white;
    text-align: center;

}



.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 30%;
    margin: auto;
    text-align: center;
    background-color: transparent;
    box-shadow: -5px -5px 10px rgb(255, 0, 242),
                5px 5px 15px rgb(251, 0, 255);
    border-radius: 20%;
    padding: 50px;
    /* margin-top: 8%;
    margin-bottom: 10%; */
}

.row{
    margin-bottom: 20px;
    color:aqua;
    font-weight: 700;
}
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }

 html, body{
    background-color: black;
    height: auto;
    padding-bottom: 10%;
    padding-top: 5%;
  }

  
  p{
    color: rgb(255, 0, 0);
    font-size: medium;
    text-align: left;
    font-weight: 700;
  }

  img{
    height: 200px;
    width: auto;
    border-radius: 100%;
    margin-bottom: 25px;
  }

  span{
    color: rgb(0, 228, 0);
  }

  form{
    margin-top: 20px;
    margin-left: 20px;
  }

  .price{
    color: rgb(0, 234, 0);
  }

  .shipping{
    color: aqua;
  }

  .order-details{
    margin-left: 30px;
    margin-top: 20px;
  }

  /* input{
    border-radius: 20%;
  } */

  h3{
    font-weight: 700;
    text-align: center;
    
  }

  .form-control{
    width: 200px;
  }

  label{
    margin-top: 5px;
  }