.back-video {
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 0;
    opacity: 1;
    
}

.hero{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
}

/* @media (min-aspect-ratio: 16/9) {
    .back-video {
        width: 100%;
        height: auto;
    }
}
@media (min-aspect-ratio: 16/9) {
    .back-video {
        width: auto;
        height: 100%;
    }
} */

.hero {
    
    height: 100vh;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    text-align: center;
    margin-top: 60px;
}

.content h1 {
    font-size: 80px;
    color: white;
    font-weight: 600;
    position: relative;
    z-index: 3;
}

.content a {
    z-index: 3;
    text-decoration: none;
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 700;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: -5px -5px 15px rgb(255, 255, 255),
                5px 5px 15px rgb(255, 255, 255);
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 50px;
    margin-right: 20px;
    position: relative;
}

body{
    background-color: black;
    min-height: 100%;
    min-width: 100%;

}

