<body>
    <img src="https://auspost.com.au/content/dam/corp/travel-essentials/destination-guides/italy/photo-antipasto-platter-italian-food.jpg">
    <div class="form">
        <h2>Login</h2>
        <form (ngSubmit)="formSubmit()">
            <div class="input">
                <div class="inputbox">
                    <label>Username</label>
                    <input type="text" [(ngModel)]="loginData.username"
                    name="username" placeholder="Enter Username">
                </div>
                <div class="inputbox">
                    <label>Password</label>
                    <input required type="password" [(ngModel)]="loginData.password"
                    name="password" placeholder="Enter Password">
                </div>
                <div class="inputbox">
                    
                    <input type="submit" name="" value="Login">
                </div>
            </div>
            <p class="forget">Don't have an account?  <a href="signup">Click Here</a></p>
        </form>
        
    </div>
</body>