
   

<div class="main-content">
    <div class="section-content section-content-p30">
        <button (click)="resfilter('Veg')" class="au-btn-submit">
            Veg
        </button>
        <button (click)="resfilter('NonVeg')" class="au-btn-submit">
            Non-Veg
        </button>
        <button (click)="resfilter('Both')" class="au-btn-submit">
            Both
        </button>
        <button routerLink="/orderhistory">
            My Orders
        </button>
        <div class="container-fluid">
            <div class="row">

                <!-- loop over the collection of products -->
                <div *ngFor="let tempres of restaurant" class="col-md-3">

                    <div class="product-box">
                        <img src="{{ tempres.imageurl }}" class="img-responsive">
                        <a routerLink="/restaurantcategory/{{ tempres.id }}" routerLinkActive="active-link">
                            {{ tempres.restaurantname }}
                        </a>
                        
                        <div class="price">{{ tempres.pricetag}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
