  <div class="card-container">
    <div *ngFor="let temprestaurant of restaurants">
        <div class="card text-white bg-dark" style="width: 18rem;">
            <img class="card-img-top" src="{{temprestaurant.imageurl}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title" #rname>{{temprestaurant.restaurantname}}</h5>
                <p class="card-text">{{temprestaurant.pricetag}}</p>
                <a routerLink="/book/" class="btn btn-primary">Order Now</a>
            </div>
        </div>
    </div>
  </div>