body, html{
    background-color: black;
    height: auto;
}
h1{
    color: white;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    background-color: rgb(0,0,0, 0.3);
    z-index: 2;
}

.nav-options{
    color: aqua;
}

.brand{
    font-family: "Secular One", Arial, Helvetica, sans-serif;
    color:rgb(255, 0, 238);
    font-weight: 700;
}

.card-container{
    display:grid;
    grid-template-columns: 20% 20% 20% 20%;
    column-gap: 50px;
    margin-left: 50px;
    margin-top: 50px;
}

.card{
    height: 400px;
    border-radius: 10%;
    text-align: center;
    margin-bottom: 20px;
}

.card-img-top{
    height: 40%;
    width: auto;
    border-radius: 10%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

.carousel-inner{
    height: 500px;
    width: auto;
}

.card-title{
    font-size: large;
}

.card-text{
    font-size: medium;
}

.btn{
    font-size: large;
    margin-bottom: 10px;
}
